

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .navbar-nav{
    padding-left: 15px;
  }

  .navbar{
    justify-content: unset;
    padding: 0;
  }

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .work-icon{
    width: 70px;
  }
 }
