<div class="container-fluid" style="text-align: center">
      <div id="aboutMe">
        <img src="../../assets/images/me.jpg" width="200px">
        <div class="lead">Hello, my name is</div>
					<h2 class="mt-0 display-5 font-weight-bold">Arghya Pal</h2>
					<div class="bio mb-3">I'm a full-stack developer specialised in frontend and
            backend development for complex scalable web apps. I write about web
            development on
            <a class="link-on-bg" href="blog.html">my blog</a>
            and regularly
            <a class="link-on-bg" href="talks.html">speak</a> at various
            web conferences and meetups.
            Want to know how I may help your project? Check out my project
            <a class="link-on-bg" href="projects.html">case studies</a>
            and <a class="link-on-bg" href="resume.html">resume</a>.
					</div><!--//bio-->
					<a class="theme-btn-on-bg btn font-weight-bold theme-btn-cta" href="contact.html">Hire Me</a>
      </div>
<br>

      <div id="skills">
        <div class="skills-blocks mx-auto pt-5">
          <div class="row">
            <div class="skills-block col-12 col-lg-4 mb-5 mb-3 mb-lg-0">
              <div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
                <h4 class="skills-cat text-center mb-3 mt-5">Backend</h4>
                <div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
                    <img class="skills-icon" src="../../assets/images/backend.svg">
                </div>
                <ul class="skills-list list-unstyled text-secondary">
                  <li class="mb-2">React/Redux/Angular</li>
                  <li class="mb-2">Javascript</li>
                  <li class="mb-2">Node.js</li>
                  <li class="mb-2">Webpack/Gulp/Grunt</li>
                  <li class="mb-2">HTML/CSS/SASS/LESS</li>
                </ul>
              </div><!--//skills-block-inner-->
            </div><!--//skills-block-->

            <div class="skills-block col-12 col-lg-4 mb-5 mb-3 mb-lg-0">
              <div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
                <h4 class="skills-cat text-center mb-3 mt-5">Frontend</h4>
                <div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
                    <img class="skills-icon" src="../../assets/images/frontend.svg">
                </div>
                <ul class="skills-list list-unstyled text-secondary">
                  <li class="mb-2">Python/Django</li>
                  <li class="mb-2">Ruby/Rails</li>
                  <li class="mb-2">PHP</li>
                  <li class="mb-2">PostgresSQL/MySQL</li>
                  <li class="mb-2">MongoDB</li>
                </ul>
              </div><!--//skills-block-inner-->
            </div><!--//skills-block-->

            <div class="skills-block col-12 col-lg-4">
              <div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
                <h4 class="skills-cat text-center mb-3 mt-5">Others</h4>
                <div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
                    <img class="skills-icon" src="../../assets/images/tools.svg">
                </div>
                <ul class="skills-list list-unstyled text-secondary">
                  <li class="mb-2">DevOps</li>
                  <li class="mb-2">Unit Testing</li>
                  <li class="mb-2">UX/Wireframing</li>
                  <li class="mb-2">Sketch/Balsamiq</li>
                  <li class="mb-2">Wordpress/Shopify</li>
                </ul>
              </div><!--//skills-block-inner-->
            </div><!--//skills-block-->

          </div><!--//row-->
        </div>
      </div>
<br>
      <div id="experience" >
        <h3>Work Experience</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
      <div id="achivements">
        <h3>Achievements</h3>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
      </div>
</div>

